
      <section class="col-12 col-md-8 col-lg-9">
        <div class="table-responsive">
          <table class="table table-bordered custom-table">
            <thead>
              <tr>
                <th scope="col">Type of a hair</th>
                <th scope="col">Available barbers</th>
                <th scope="col">Rate ($)</th>
                <th scope="col">Appointment Date</th>
                <th scope="col">Days Until Due Date</th>
                <th scope="col">Total Price ($)</th>
                <th scope="col" class="p-3"></th>
              </tr>
            </thead>
            <tbody id="project-display"></tbody>
          </table>
        </div>
      </section>
    </div>