
<!-- Loop over each object in the projects array -->

<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->

      <a href="/project/{{project.id}}">Appointment Booked with a Barber</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">Price for the haircut</span>
    
    </p>
    <p>Appointment created by:</p>
  </div>
  <div class="col-md-7">
    <p>
     
    </p>
  </div>
</div>
